body {
   font-family: "Montserrat", sans-serif;
   font-size: 1.5em;
   margin: 0;
   padding: 0;
   color: #fff;
}

.wrapper {
   width: 100%;
   min-height: 100vh;
   background-image: linear-gradient(
      to right top,
      #815a72,
      #bd717d,
      #ee9175,
      #ffc069,
      #f9f871
   );
   padding: 20px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: auto;
   grid-gap: 20px;
   grid-template-areas:
   "title title title title"
   "nav cat cat pannel"
   ". . . .";
   box-sizing: border-box;
}

h1,
h2 {
   font-family: "Oswald", sans-serif;
   text-transform: uppercase;
   color: #fff;
   margin: 0;
}

h1 {
   grid-area: title;
   text-align: center;
   font-size: 3em;
}

h2 {
   font-size: 2em;
}

.cat-menu {
   text-align: right;
   padding: 0 10px;
   grid-area: nav;
}

.cat-menu ul {
   padding-left: 0;
   margin: 0;
}

.cat-menu li {
   list-style: none;
   margin: 10px 0;
   transition: 1s;
   cursor: pointer;
}

.cat-menu li:hover {
   transform: scale(1.2) translateX(-2em);
}

.cat-container {
   grid-area: cat;
}

.cat-image {
   max-width: 100%;
   border: 10px double #ffffff;
   box-sizing: border-box;
   margin-top: 0.8em;
}

.clicked {
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: flex-end;
   text-align: right;
}

.cat-counter {
   background: #fff;
   color: #ee9176;
   padding: 5px 20px;
   font-size: 2em;
   vertical-align: middle;
   margin:0;
   margin-left: 10px;
   font-weight: 700;
}

.cat-pannel {
   grid-area: pannel;
}

.btn {
   background:none;
   color:#fff;
   border:7px double #fff;
   padding: 10px 15px;
   font-size:0.8em;
   text-transform: uppercase;
   margin-top:20px;
   transition:0.8s;
}

.btn:hover {
   background:#fff;
   color: #ee9176;
   transform: translateY(0.5em);
}
.cat-form {
   transition:2s;
}
.cat-form.hidden {
   display:none;
   top:-50px;
}
.cat-form label {
   display:block;
   margin-top:20px;
}

.cat-form input {
   background:transparent;
   border: 2px solid #fff;
   height:45px;
   width:100%;
   max-width:300px;
   padding:10px;
   box-sizing: border-box;
   color:#fff;
   font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1024px) {

   .wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
      "title"
      "nav"
      "cat"
      "pannel"
      ".";
   }

   h2 {
      text-align: left;
   }

   .cat-menu {
      text-align: left;
   }

   .cat-menu li {
      display: inline-block;
      margin: 10px;
   }

   .cat-menu li:hover {
      transform: none;
   }
   .cat-form input {
      max-width:none;
   }


}
